* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Oswald", sans-serif;
  margin: 1.5rem auto 0;
  font-size: 3.5rem;
  text-shadow: 3px 3px 6px #000;
  color: white;
  pointer-events: none;
}

@media (max-width: 850px) {
  .container {
    margin: 0 10%;
  }
}
